
<!--&lt;!&ndash; Formulario &ndash;&gt;-->
<!--<div class="col-lg-6">-->

<!--  <div class="card" >-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Registar Modelo</h5>-->

<!--      &lt;!&ndash; Horizontal Form &ndash;&gt;-->
<!--      <form>-->

<!--        <div class="row mb-3">-->
<!--          <label  class="col-sm-2 col-form-label">Nome</label>-->
<!--          <div class="col-sm-10">-->
<!--            <input type="text" class="form-control" id="inputText">-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row mb-3">-->
<!--          <label class="col-sm-2 col-form-label">Marca</label>-->
<!--          <div class="col-sm-10">-->
<!--            <select class="form-select" aria-label="Default select example">-->
<!--              <option selected>Open this select menu</option>-->
<!--              <option value="1">One</option>-->
<!--              <option value="2">Two</option>-->
<!--              <option value="3">Three</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->



<!--        &lt;!&ndash;        <div class="row mb-3">&ndash;&gt;-->
<!--        &lt;!&ndash;          <label  class="col-sm-2 col-form-label">Data de Registo</label>&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="col-sm-10">&ndash;&gt;-->
<!--        &lt;!&ndash;            <input type="date" class="form-control">&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->


<!--        <div class="text-center">-->
<!--          <button type="submit" class="btn btn-primary">Gravar</button>-->
<!--        </div>-->
<!--      </form>&lt;!&ndash; End Horizontal Form &ndash;&gt;-->

<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<!--&lt;!&ndash; Tabela &ndash;&gt;-->
<!--<div class="col-lg-8">-->
<!--  <div class="card">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Lista dos Modelos</h5>-->

<!--      &lt;!&ndash; Default Table &ndash;&gt;-->
<!--      <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">#</th>-->
<!--          <th scope="col">Nome</th>-->
<!--          <th scope="col">Marca</th>-->
<!--          <th scope="col">Data de Registo</th>-->
<!--          <th scope="col">Accao</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Brandon Jacob</td>-->
<!--          <td>Brandon Jacob</td>-->
<!--          <td>2016-05-25</td>-->
<!--          <td><a href="#"><i class="fa fa-edit"></i></a> | <a href="#"><i class="fa fa-remove"></i></a></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">2</th>-->
<!--          <td>Bridie Kessler</td>-->
<!--          <td>Bridie Kessler</td>-->
<!--          <td>2014-12-05</td>-->
<!--          <td><a href="#"><i class="fa fa-edit"></i></a> | <a href="#"><i class="fa fa-remove"></i></a></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">3</th>-->
<!--          <td>Ashleigh Langosh</td>-->
<!--          <td>Ashleigh Langosh</td>-->
<!--          <td>2011-08-12</td>-->
<!--          <td><a href="#"><i class="fa fa-edit"></i></a> | <a href="#"><i class="fa fa-remove"></i></a></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">4</th>-->
<!--          <td>Angus Grady</td>-->
<!--          <td>Angus Grady</td>-->
<!--          <td>2012-06-11</td>-->
<!--          <td><a href="#"><i class="fa fa-edit"></i></a> | <a href="#"><i class="fa fa-remove"></i></a></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">5</th>-->
<!--          <td>Raheem Lehner</td>-->
<!--          <td>Raheem Lehner</td>-->
<!--          <td>2011-04-19</td>-->
<!--          <td><a href="#"><i class="fa fa-edit"></i></a> | <a href="#"><i class="fa fa-remove"></i></a></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      &lt;!&ndash; End Default Table Example &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
