
<!-- Formulario -->
<div class="col-lg-6">

  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Registar Unidade</h5>

      <!-- Horizontal Form -->
      <form>
        <div class="row mb-3">
          <label  class="col-sm-2 col-form-label">Nome</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputText">
          </div>
        </div>


        <div class="text-center">
          <button type="submit" (click)="save()" class="btn btn-primary">Gravar</button>
        </div>
      </form><!-- End Horizontal Form -->

    </div>
  </div>

</div>
