
<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <!--    <h5 class="card-title">Lista de Modelos</h5>-->

      <br>
      <h5><a class="breadcrumb-item" routerLink="/unidadePersist">Adicionar<i class="bi bi-plus"></i></a></h5>

      <br>
      <br>

<!-- Tabela -->
<div class="col-lg-8">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lista de Unidades</h5>

      <!-- Default Table -->
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Accao</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let unidade of unidades ">
          <th scope="row">{{unidade.id}}</th>
          <td>{{unidade.nome}}</td>
          <td><a ><i class="fa fa-edit"></i></a> | <a href="#"><i class="fa fa-remove"></i></a></td>
        </tr>

        </tbody>
      </table>
      <!-- End Default Table Example -->
    </div>
  </div>
</div>
