<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

<!--    <li class="nav-item">-->
<!--      <a class="nav-link " href="index.html">-->
<!--        <i class="bi bi-grid"></i>-->
<!--        <span>Dashboard</span>-->
<!--      </a>-->
<!--    </li>&lt;!&ndash; End Dashboard Nav &ndash;&gt;-->
<!--    <li class="nav-heading">Parametros</li>-->

<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" [routerLink]="['/marca']">-->
<!--        <i class="bi bi-grid"></i>-->
<!--        <span>Marca</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" [routerLink]="['/modelo']">-->
<!--        <i class="bi bi-person"></i>-->
<!--        <span>Modelo</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" [routerLink]="['/tipoEquipamento']">-->
<!--        <i class="bi bi-person"></i>-->
<!--        <span>Tipo de Equipamento</span>-->
<!--      </a>-->
<!--    </li>-->
    <li class="nav-item">
            <a  class="nav-link " [routerLink]="['/equipamento']">
             <i class="bi bi-person"></i>
              <span>Equipamento</span>
            </a>
    </li>

    <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/aquisicao']">
             <i class="bi bi-grid"></i>
              <span>Aquisição</span>
            </a>
    </li>
          <li class="nav-heading">Pages</li>

          <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
              <i class="bi bi-person"></i>
              <span>Profile</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Parametros</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" [routerLink]="['/marca']">
            <i class="bi bi-circle"></i>
            <span>Marca</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" [routerLink]="['/modelo']">
            <i class="bi bi-circle"></i>
            <span>Modelo</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" [routerLink]="['/tipoEquipamento']">
            <i class="bi bi-circle"></i>
            <span>Tipo de Equipamento</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->



    <!-- End Profile Page Nav -->



  </ul>

</aside><!-- End Sidebar-->
