<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
            <a routerLinkActive="active" class="nav-link collapsed" routerLink="/equipamento">
             <i class="bi bi-person"></i>
              <span>Equipamento</span>
            </a>
    </li>
    <li class="nav-item">
            <a routerLinkActive="active" class="nav-link collapsed" routerLink="/aquisicao">
             <i class="bi bi-grid"></i>
              <span>Aquisição</span>
            </a>
    </li>
    <li class="nav-item">
            <a routerLinkActive="active" class="nav-link collapsed" routerLink="/empresa">
             <i class="bi bi-grid"></i>
              <span>Empresa</span>
            </a>
    </li>
    <li class="nav-item">
            <a routerLinkActive="active" class="nav-link collapsed" routerLink="/reparacao">
             <i class="bi bi-grid"></i>
              <span>Reparacao</span>
            </a>
    </li>
    <li class="nav-heading">_________________________________</li>

    <li class="nav-item">
      <a routerLinkActive="active" class="nav-link collapsed" routerLink="/usuario">
        <i class="bi bi-person"></i>
        <span>Usuários</span>
      </a>
    </li>
          <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Parametros</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link collapsed" routerLink="/marca">
            <i class="bi bi-circle"></i>
            <span>Marca</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link collapsed" routerLink="/modelo">
            <i class="bi bi-circle"></i>
            <span>Modelo</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link collapsed" routerLink="/tipoEquipamento">
            <i class="bi bi-circle"></i>
            <span>Tipo de Equipamento</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link collapsed" routerLink="/unidade">
            <i class="bi bi-circle"></i>
            <span>Unidade</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link collapsed" routerLink="/grupo">
            <i class="bi bi-circle"></i>
            <span>Grupo</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->



    <!-- End Profile Page Nav -->



  </ul>

</aside><!-- End Sidebar-->
