<div class="card">
  <div class="card-body">
    <h5 class="card-title">Multi Columns Form</h5>

<!-- Multi Columns Form -->
<form class="row g-3">
  <div class="col-md-6">
    <label  class="form-label">Data de envio para reparação</label>
    <input type="date" class="form-control" >
  </div>
  <div class="col-md-6">
    <label class="form-label">Avaria</label>
    <input type="text" class="form-control" >
  </div>
  <div class="col-md-6">
    <label  class="form-label">Data prevista para devolução</label>
    <input type="date" class="form-control" >
  </div>
  <div class="col-6">
    <label  class="form-label">Tecnico Reparação</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>  </div>
  <div class="col-6">
    <label for="inputAddress2" class="form-label">Telefone do tecnico</label>
    <input type="number" class="form-control" id="inputAddress2" >
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Guia de Saida</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-6">
    <label  class="form-label">Data de Devolução</label>
    <input type="date" class="form-control" >
  </div>
  <div class="col-md-6">
    <label  class="form-label">Tecnico Reparação</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="col-md-6">
    <label  class="form-label">Guia de Recepção Devolução</label>
    <input type="text" class="form-control" >
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Graver</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
  </div>
</form><!-- End Multi Columns Form -->
  </div>
</div>
