


<!-- Formulario -->
<div class="col-lg-8">

  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Registar Aquisição</h5>

      <!-- Horizontal Form -->
      <form>
        <div class="row mb-3">
          <label  class="col-sm-2 col-form-label">Descrição</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputText">
          </div>
        </div>

        <div class="row mb-3">
          <label  class="col-sm-2 col-form-label">Número do Concurso</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" >
          </div>
        </div>

        <div class="row mb-3">
          <label  class="col-sm-2 col-form-label">Data de Aquisição</label>
          <div class="col-sm-10">
            <input type="date" class="form-control">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Equipamento</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Gravar</button>
        </div>
      </form>
      <!-- End Horizontal Form -->


    </div>
  </div>

</div>
