
<!-- Formulario -->
<div class="col-lg-8">

  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Registar Equipamento</h5>

      <!-- Horizontal Form -->
      <form>
        <div class="row mb-3">
          <label  class="col-sm-2 col-form-label">Número de Série</label>
          <div class="col-sm-10">
            <input type="number" class="form-control">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Modelo</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Tipo de Equipamento</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Estado do Equipamento</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>...</option>
              <option value="1">Alocado</option>
              <option value="2">Stock - Novo</option>
              <option value="2">Stock - Bom</option>
              <option value="2">Stock - Avariado</option>
              <option value="3">Patrimonio - Bom</option>
              <option value="3">Patrimonio - Avariado</option>
              <option value="3">Reparação</option>
            </select>
          </div>
        </div>



        <div class="text-center">
          <button type="submit" class="btn btn-primary">Gravar</button>
        </div>
      </form>
      <!-- End Horizontal Form -->


    </div>
  </div>

</div>

